docs/notebooks/data/hysets_streamflow_timeseries/
docs/notebooks/data/processed_divergence_inputs/
docs/notebooks/data/divergence_test_results/
docs/notebooks/data/temp_batches/*
docs/notebooks/data/runoff_prediction_results/*
docs/notebooks/data/entropy_prediction_results/*
docs/notebooks/data/emd_prediction_results/*
docs/notebooks/data/tvd_prediction_results/*
docs/notebooks/data/kld_prediction_results/*
docs/notebooks/data/geospatial_layers/
docs/notebooks/data/catchment_polygons
.ipynb_checkpoints/
docs/_build
docs/.ipynb_checkpoints
superseded/
__pycache__/
temp/
docs/notebooks/data/*.geojson
DKL_results_*.csv
